/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===================  
            common css start
====================*/
body {
  font-family: "Poppins", sans-serif;
}

/* ===================  
            common css end
====================*/
.navbar {
  min-height: 80px;
}
/* == hero section css part == */
/* == hero section css part == */

.hero-section img {
  height: 100vh;
  object-fit: cover;
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 3vw;
  height: 3vw;
}

/* ===================  
         package section start
====================*/

.card-body p,
li {
  color: #848199 !important;
  padding: 5px 0;
}
.card-body .card-texts {
  color: #fff !important;
}
li .fas {
  color: #5243c2;
  font-size: 18px;
  margin-right: 10px;
}
.card {
  border-radius: 40px;
}
.start-100 {
  left: 93% !important;
}
/* ===================  
         package section end
====================*/

/* ===================  
         contact section start
====================*/

.col-lg-5 {
  flex: 0 0 auto;
  width: 35.666667%;
}

/* ===================  
         contact section end
====================*/

/* ===================  
         footer section start
====================*/
footer {
  background-color: #212529;
}

/* ===================  
         footer section end
====================*/
